
##############################
# GATEWAY SERVICE ARGS
##############################
# MQTT
MQTT_HOST= # <-- Set to Pi's IP
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=

# Redis
REDIS_URL=redis://127.0.0.1:6379/0

# API Server
HOST=0.0.0.0
PORT=8000
CORS_ORIGINS=["http://localhost:3000"] # For your React UI later

# Security (Comma-separated)
API_KEYS=abc,123


#################################################

#################################################